{% extends "layout.html" %}
{% block body %}
<header class="masthead" id="change3">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Add/Edit Blog</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <h1>Basic Actions</h1>
        <a href="/dashboard"><button class="btn btn-primary">DASHBOARD</button></a>
        <a href="/logout"><button class="btn btn-primary">LOGOUT</button></a>
        <hr>
        <h1>ADD/EDIT POST</h1>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <form id="contactForm" action="/edit/{{sno}}" method="post">
                <div class="form-floating">
                    <input class="form-control" id="name" name="title" type="text" placeholder="Enter Title"
                        value="{{post.title}}" required />
                    <label for="name">Title</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="email" name="tline" type="text" placeholder="Enter Tagline"
                        value="{{post.tagline}}" required />
                    <label for="email">Tagline</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="phone" name="slug" type="text" placeholder="Enter Slug"
                        value="{{post.slug}}" required />
                    <label for="phone">Slug</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" id="message" name="content" placeholder="Content"
                        style="height: 12rem" required>{{post.content}}</textarea>
                    <label for="message">Content</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="phone" name="img_file" type="text" placeholder="Enter Image file"
                        value="{{post.img_file}}" required />
                    <label for="phone">Image file</label>
                </div>
                <br />
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Submit</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}